[Unit]
Description=PostgreSQL

[Container]
Image=ghcr.io/immich-app/postgres:16-vectorchord0.5.3
ContainerName=postgres
UserNS=keep-id

Network=none

Environment=POSTGRES_USER=admin
Environment=POSTGRES_PASSWORD=your_secure_password
Environment=POSTGRES_DB=myapp_db

Volume=%t/postgres:/var/run/postgresql:rw,U,z
Volume=postgres.volume:/var/lib/postgresql/data:U,z

[Service]
# create socket folder
RuntimeDirectory=postgres
RuntimeDirectoryMode=0700

[Install]
WantedBy=default.target