[Unit]
Description=Redis

[Container]
Image=docker.io/library/redis:7-alpine
ContainerName=redis
UserNS=keep-id

Network=none

Volume=/tmp:/data
Volume=%t/redis:/run/redis:U,z
Volume=%h/.config/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro,U,Z
Exec=redis-server /usr/local/etc/redis/redis.conf

[Service]
# create socket folder
RuntimeDirectory=redis
RuntimeDirectoryMode=0700

Restart=always
RestartSec=5s

[Install]
WantedBy=default.target