#!ipxe

imgfree
kernel {{http_server_url}}/boot.efi talos.platform=metal console=tty0 init_on_alloc=1 slab_nomerge pti=on consoleblank=0 nvme_core.io_timeout=4294967295 printk.devkmsg=on selinux=1 module.sig_enforce=1 lockdown=confidentiality
boot