---
# Apply by default
apiVersion: v1alpha1
kind: VolumeConfig
name: STATE
encryption:
  provider: luks2
  keys:
    - tpm: {}
      slot: 0
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 200GiB
encryption:
  provider: luks2
  keys:
    - tpm: {}
      slot: 0
      lockToState: true
  options:
    - no_read_workqueue
    - no_write_workqueue
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-data
volumeType: partition
provisioning:
  diskSelector:
    match: disk.dev_path == '/dev/nvme0n1'
  minSize: 1000GiB
encryption:
  provider: luks2
  keys:
    - tpm: {}
      slot: 0
    - slot: 1
      static:
        passphrase: {{ talos_disk_password }}
  options:
    - no_read_workqueue
    - no_write_workqueue
---
# Enable workers on your control plane nodes
cluster:
  allowSchedulingOnControlPlanes: true
---
# remove label when a load balancer such as MetalLB is used
machine:
  nodeLabels:
    node.kubernetes.io/exclude-from-external-load-balancers:
      $patch: delete
