[Unit]
Description=AdGuard Home

[Container]
Image=docker.io/adguard/adguardhome:latest
ContainerName=adguardhome

PublishPort=53:53/udp
PublishPort=53:53/tcp

Volume=%h/.config/adguardhome:/opt/adguardhome/conf:U,z
Volume=adguardhome.volume:/opt/adguardhome/work

Annotation=io.containers.autoupdate=registry

Network=traefik-public.network
Label=traefik.enable=true
Label=traefik.http.routers.adguardhome.rule=Host(`dns.{{ homelab_domain }}`)
Label=traefik.http.services.adguardhome.loadbalancer.server.port=20000

Label=service=dns

[Service]
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target


