http:
  routers:
    traefik-dashboard:
      rule: "Host(`traefik.{{ homelab_domain }}`)"
      entryPoints: ["websecure"]
      service: api@internal
    router:
      rule: 'Host(`router.{{ homelab_domain }}`)'
      entryPoints: ["websecure"]
      service: "router-svc"
    wifi:
      rule: 'Host(`wifi.{{ homelab_domain }}`)'
      entryPoints: ["websecure"]
      service: "wifi-svc"
    
  services:
    router-svc:
      loadBalancer:
        servers:
          - url: "http://{{ router_ip }}"
    wifi-svc:
      loadBalancer:
        servers:
          - url: "http://{{ wifi_ip }}"