[Unit]
Description=Traefik Reverse Proxy

After=traefik-network.service

[Container]
User=0
SecurityLabelType=unconfined_t

Image=docker.io/traefik:latest
ContainerName=traefik

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

Network=traefik-public.network
Network=traefik-internal.network
Volume=traefik-certs.volume:/letsencrypt
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro,U,z
Volume=%h/.config/traefik/static-config.yml:/etc/traefik/traefik.yml:ro,U,Z
Volume=%h/.config/traefik/dynamic:/etc/traefik/dynamic:ro,U,Z

#TODO move tls logic out
Environment=CF_DNS_API_TOKEN={{ cloudflare_token }}

Annotation=io.containers.autoupdate=registry

Label=service=reverse-proxy

#TODO: adding health checks
[Service]
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target

